html {
        /* Importamos tipografía principal */
    /* font-family: "Noto Sans", sans-serif; */ 
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    justify-content: center;
    background-color: white;
    font-family: "Noto Sans", sans-serif;
    color: #212529;
    min-height: 100vh;
}

header {
    background-color: #e9ecef;
    width: 100%;
    height: 80px;
    display: inline-flex;
    top: 0;
    position: fixed;
}

.logoContainer {
    text-align: left;
    width: 150px;
    height: 80px;
    margin-top: 20px;
    margin-left: 40px;
}

.logotipoNav {
    border-radius: 30px;
    border: 2px black;
}

.mainNav {
    right: 0;
    align-items: center;
    text-align: right;
    height: 100%;
    display: block;
    position: absolute;
}

.navList {
    height: 100%;
    margin: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navLink {
    height: 100%;
    width: auto;
    padding: 30px;
    text-decoration: none;
    font-size: 18px;
}

.navLink:hover {
    background-color: #dee2e6;
}

.navLinkSelected {
    background-color: #dee2e6;
}

main {
    width: 80%;
    margin: 0 10%;
    margin-top: 110px;
    min-height: 90vh;
}

.imagenPortada {
    max-width: 100%;
}

footer {
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #e9ecef;
    display: inline-flex;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.verticalSeparator {
    width: 2px;
    height: 70%;
    background-color: #212529;
    margin: 0 30px;
}

.socialLinksContainer {
    margin-left: 10px;
    align-items: center;
    display: inline-flex;
}

.socialLink {
    text-decoration: none;
    height: 100%;
    vertical-align: middle;
}

.socialLinkImg {
    border-radius: 100%;
}

.socialLinkImg {
    margin: 10px;
}

.mainArticles {
    width: 100%;
    display: inline-flex;
    gap: 10%;
    justify-content: center;
}

.informationArticle {
    width: 45%;
}

.productsContainer {
    margin-top: 20px;
    display: flex;
    gap: 5%;
    max-width: 100%;
}

.product {
    border: 1px solid #dee2e6;
    border-radius: 30px;
    max-width: 200px;
    min-width: 180px;
    max-height: 300px;
    padding: 20px;
}

.productImg {
    max-width: 100%;
}

.productDescription {
    max-height: 30%;
    overflow:hidden;
}

.portadaNosotros {
    text-align: center;
}

.ourTeamTitle {
    padding-top: 30px;
    text-align: center;
}

.profilesContainer {
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    max-width: 100%;
    gap: 2%;
}

.profilePicture {
    max-width: 100%;
    border-radius: 100%;
}

.profileName {
    font-weight: bold;
    padding-top: 10px;
}

.contactTitle {
    text-align: center;
}

.contactFormContainer {
    width: 70%;
    height: 30vh;
    padding: 3%;
    justify-content: center;
    text-align: center;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

.contactForm {
    width: 100%;
}

.submitButton {
    background-color: #212529;
    color: #e9ecef;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    margin: 20px;
}