/* Usaremos una fuente local siguiendo la documentación de MDN dado que la requerida no se encuentra disponible en Google Fonts*/
@font-face {
    font-family: 'Grunell';
    src: url('../assets/fonts/Grunell.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

/* Importamos una tipografía secundaria de Google Fonts para cumplir con lo requerido
    Quedará como fuente secundaria font-family: "Noto Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Grunell', 'Noto Sans', sans-serif;
}

header {
    font-size: 1.25rem;
}

.navbar {
    background-color: #E8B2C2;
    color: #E09EB2;
}

.navbar-toggler {
    border: 2px solid #D6626E;
    background-color: white;
    height: 50px;
    padding-top: 0.3125rem;
}

.navbar-toggler:focus {
    box-shadow: #E8B2C2;
}

.logotipoNav {
    box-sizing: border-box;
    max-height: 60px;
    background-color: white;
    border: 2px solid #D6626E;
    border-radius: 10px;
    margin-left: 30px;
}

.nav-link:hover {
    font-size: 1.5rem;
    color: #D6626E !important;
}

.navbar-toggler-icon {
    background-image: url('../assets/images/menu.png');
}

main {
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cresso-name {
    color: #D6626E;
    font-size: 3rem;
    font-weight: 300;
}

.card {
    border-radius: 10px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #E8B2C2;
    padding: 20px;
    justify-content: center;
    gap: 10px;
    font-size: 1.15rem
}

footer p {
    margin: 5px;
    width: 90%;
    text-align: center;
}

.footerSeparator {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #D6626E;
}

.socialLinks-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.socialLink {
    margin: 5px 15px;
    text-decoration: none;
    color: #D6626E;
    padding: 5px 0;
}

.socialLinkImg {
    margin: 5px;
    border: 2px solid #D6626E;
    border-radius: 100%;
}

.title-area {
    text-align: center;
}

.title-area h1 {
    color: #D6626E;
}

.portadaNosotros h1 {
    margin: 16px;
}

.productsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product {
    border: 1px solid #D6626E;
    border-radius: 10px;
    padding: 10px;
    width: 160px;
    height: 220px;
    overflow: hidden;
}

.product img {
    max-width: 100%;
    margin-bottom: 5px;
}

.product h3 {
    color: #D6626E;
}

.product p {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
}

.btn-base {
    background-color: #E09EB2;
}

.btn-base:active {
    border: 1px solid #D6626E;
}

.btn-base:hover {
    background-color: #E8B2C2;
} 

.input-base{
    border: 1px solid #D6626E;
    color: #D6626E;
}

.contact-title, .contactFormContainer {
    width: 90%;
    padding: 3%;    
}

.contactFormContainer .btn-base {
    width: 100%;
}

.form-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 10px;
}

.form-input:focus {
    border: 6px solid #FFE9B1;
    outline: #FFDD82;
}

.portadaNosotros {
    max-width: 100%;
    padding: 16px;
}

.portadaNosotros img {
    max-width: 100%;
    border: 1px solid #D6626E;
    border-radius: 10px;
}

.ourTeam {
    display: flex;
    margin: 16px;
    flex-direction: column;
}

.profilesContainer img {
    border: 1px solid #D6626E;
    border-radius: 100%;
    max-width: 100px;
    margin: 16px;
}

.profilesContainer .profileName {
    font-size: 1.5rem;
    color: #D6626E;
}

/* Se decide hacer uso de los breakpoints de Bootstrap para no diferir en estilos */ 

@media(min-width: 576px) {
    .grid-container {
        padding: 50px 10%;
    }
}

@media(min-width: 768px) {
    .grid-container {
        padding: 50px 10%;
    }
    
    main {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        align-items: flex-start;
    }

    .main-carousel {
        width: 55%;
    }

    .main-info {
        width: 40%;
    }

    .contactFormContainer {
        width: 75%;
        padding: 5%;
        margin-bottom: 5%;
    }
}


@media(min-width: 992px){
    .navbar-nav:first-child {
        margin-left: 30px;
    }
}




/* 
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    justify-content: center;
    background-color: white;
    font-family: "Noto Sans", sans-serif;
    color: #212529;
    min-height: 100vh;
}

header {
    background-color: #e9ecef;
    width: 100%;
    height: 80px;
    display: inline-flex;
    top: 0;
    position: fixed;
}

main {
    width: 80%;
    margin: 0 10%;
    margin-top: 110px;
    min-height: 90vh;
}

.logoContainer {
    text-align: left;
    width: 150px;
    height: 80px;
    margin-top: 20px;
    margin-left: 40px;
}



header nav {
    right: 0;
    align-items: center;
    text-align: right;
    height: 100%;
    display: flex;
    position: absolute;
}

.navList {
    height: 100%;
    margin: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navList a {
    display: block;
    height: 100%;
    width: auto;
    padding: 30px;
    text-decoration: none;
    font-size: 18px;
}

.navLinkSelected {
    background-color: #dee2e6;
}


.imagenPortada {
    max-width: 100%;
}

.verticalSeparator {
    width: 2px;
    height: 70%;
    background-color: #212529;
    margin: 0 30px;
}

.socialLinksContainer {
    margin-left: 10px;
    align-items: center;
    display: inline-flex;
}

.socialLink {
    text-decoration: none;
    height: 100%;
    vertical-align: middle;
}

.socialLinkImg {
    border-radius: 100%;
}

.socialLinkImg {
    margin: 10px;
}

.mainArticles {
    width: 100%;
    display: inline-flex;
    gap: 10%;
    justify-content: center;
}

.informationArticle {
    width: 45%;
}

.productsContainer {
    margin-top: 20px;
    display: flex;
    gap: 5%;
    max-width: 100%;
}

.product {
    border: 1px solid #dee2e6;
    border-radius: 30px;
    max-width: 200px;
    min-width: 180px;
    max-height: 300px;
    padding: 20px;
}

.productImg {
    max-width: 100%;
}

.productDescription {
    max-height: 30%;
    overflow:hidden;
}

.portadaNosotros {
    text-align: center;
}

.ourTeamTitle {
    padding-top: 30px;
    text-align: center;
}

.profilesContainer {
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    max-width: 100%;
    gap: 2%;
}

.profilePicture {
    max-width: 100%;
    border-radius: 100%;
}

.profileName {
    font-weight: bold;
    padding-top: 10px;
}

.contactTitle {
    text-align: center;
}

.contactFormContainer {
    width: 70%;
    height: 30vh;
    padding: 3%;
    justify-content: center;
    text-align: center;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

.contactForm {
    width: 100%;
}

.submitButton {
    background-color: #212529;
    color: #e9ecef;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    margin: 20px;
} */