@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Grunell";
  src: url("../assets/fonts/Grunell.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: "Grunell", "Noto Sans", sans-serif;
  font-size: 1rem;
}

.primary-text {
  color: #d6626e;
}

header {
  font-size: 1.25rem;
}

.navbar {
  background-color: #e8b2c2;
  color: #d6626e;
}
.navbar .navbar-toggler {
  border: 2px solid #d6626e;
  background-color: white;
  height: 50px;
  padding-top: 0.3125rem;
}
.navbar .navbar-toggler:focus {
  box-shadow: #e8b2c2;
}
.navbar .logotipoNav {
  box-sizing: border-box;
  max-height: 60px;
  background-color: white;
  border: 2px solid #d6626e;
  border-radius: 10px;
}
.navbar .nav-link:hover {
  font-size: 1.5rem;
  color: #d6626e;
}
.navbar .navbar-toggler-icon {
  background-image: url("../assets/images/menu.png");
}

.cresso-name {
  color: #d6626e;
  font-size: 3rem;
  font-weight: 300;
}

.title-area {
  text-align: center;
}
.title-area h1 {
  color: #d6626e;
}

.portadaNosotros h1 {
  margin: 16px;
}

.productsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6626e;
  border-radius: 10px;
  padding: 10px;
  width: 180px;
  height: 240px;
  overflow: hidden;
}
.product:hover {
  border: 3px solid #ffdd82;
  transform: scale(1.125);
}
.product img {
  max-width: 100%;
  max-height: 50%;
  margin-bottom: 5px;
}
.product h3 {
  color: #d6626e;
  margin-bottom: 0;
}
.product p {
  overflow-y: scroll;
  scrollbar-width: none;
  margin-bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 30px 16px;
}

.contact-title {
  width: 90%;
  padding: 3%;
}

.portadaNosotros {
  max-width: 100%;
  padding: 16px;
}
.portadaNosotros img {
  max-width: 100%;
  border: 1px solid #d6626e;
  border-radius: 10px;
}

.ourTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.profilesContainer {
  font-size: 1.5rem;
  color: #d6626e;
}
.profilesContainer img {
  border: 1px solid #d6626e;
  border-radius: 100%;
  max-width: 80px;
  margin: 16px;
}

.profile:hover {
  transform: scale(1.125);
}
.profile:hover img {
  border: 2px solid #ffdd82;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  background-color: #e8b2c2;
  padding: 20px;
  gap: 10px;
  font-size: 1.15rem p;
  font-size-margin: 5px;
  font-size-width: 90%;
  font-size-text-align: center;
}
footer .footerSeparator {
  display: block;
  width: 90%;
  height: 1px;
  background-color: #d6626e;
}
footer .socialLinks-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
}
footer .socialLink {
  margin: 5px 15px;
  text-decoration: none;
  color: #d6626e;
  padding: 5px 0;
}
footer .socialLinkImg {
  margin: 5px;
  border: 2px solid #d6626e;
  border-radius: 100%;
}

.btn-base {
  background-color: #e8b2c2;
  width: 100%;
}
.btn-base:active {
  border: 1px solid #d6626e;
}
.btn-base:hover {
  background-color: #f4d3c8;
}

.btn-didi img {
  max-width: 200px;
}
.btn-didi img:hover {
  transform: scale(1.125);
}

.input-base {
  border: 1px solid #d6626e;
  color: #d6626e;
}

.contactFormContainer {
  width: 100%;
  padding: 3%;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 10px;
}
.form-input:focus {
  border: 6px solid #ffe9b1;
  outline: #ffdd82;
}

/*# sourceMappingURL=style.css.map */
