// Importamos variables
@use '../utilities/variables';

.btn-base {
    background-color: variables.$primary-color;
    width: 100%;

    &:active {
        border: 1px solid variables.$primary-accent-color;
    }

    &:hover {
        background-color: variables.$secondary-color;
    } 
}

.btn-didi {
        
    img {
        max-width: 200px;

        &:hover {
            transform: scale(1.125);
        }
    }
}