// Importamos variables
@use '../utilities/variables';
@use '../utilities/mixins';


footer {
    @include mixins.flex(row, center, center);

    width: 100%;
    flex-wrap: wrap;
    background-color: variables.$primary-color;
    padding: 20px;
    gap: 10px;
    font-size: 1.15rem

    p {
        margin: 5px;
        width: 90%;
        text-align: center;
    }

    .footerSeparator {
        display: block;
        width: 90%;
        height: 1px;
        background-color: variables.$primary-accent-color;
    }

    .socialLinks-container {
        @include mixins.flex(row, space-between, center);
        align-content: center;
        text-align: center;
    }

    .socialLink {
        margin: 5px 15px;
        text-decoration: none;
        color: variables.$primary-accent-color;
        padding: 5px 0;
    }

    .socialLinkImg {
        margin: 5px;
        border: 2px solid variables.$primary-accent-color;
        border-radius: 100%;
    }

    .copyright-text {
        a {
            text-decoration: none;
            color: variables.$primary-accent-color;
        }
    }
}