// Importamos variables
@use '../utilities/variables';
@use '../utilities/mixins';

.title-area {
    text-align: center;

    h1 {
        color: variables.$primary-accent-color;
    }
}

.portadaNosotros {
    h1 {
        margin: 16px;
    }
} 

.productsContainer {
    @include mixins.flex(row, center, center);
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    @include mixins.flex(column, flex-start,center);
    border: 1px solid variables.$primary-accent-color;
    border-radius: 10px;
    padding: 10px;
    width: 160px;
    height: 240px;
    overflow: hidden;

    &:hover {
        border: 3px solid variables.$tertiary-accent-color;  
        transform: scale(1.125);   
    }

    img {
        max-width: 100%;
        max-height: 60%;
        margin-bottom: 5px;
        &:hover {
            transform: scale(1.1);
        }
    }

    h3 {
        color: variables.$primary-accent-color;
        margin-bottom: 0;
        font-size: 1.25rem;
        text-align: center;
    }

    p {
        overflow-y: scroll;
        scrollbar-width: none;
        margin-bottom: 0;
    }
}

// Estilos generales o del main

main {
    @include mixins.flex(column, space-between, center);
    gap: 1rem;
    padding: 30px 16px;
}

.contact-title {
    width: 90%;
    padding: 3%;    
}

.portadaNosotros {
    max-width: 100%;
    padding: 16px;

    img {
        max-width: 100%;
        border: 1px solid variables.$primary-accent-color;
        border-radius: 10px;
    }
}

.ourTeam {
    @include mixins.flex(column, center, center);
    margin: 16px;
}

.profilesContainer {
    font-size: 1.5rem;
    color: variables.$primary-accent-color;
    
    img {
        border: 1px solid variables.$primary-accent-color;
        border-radius: 100%;
        max-width: 80px;
        margin: 16px;
    }
}

.profile:hover {
    transform: scale(1.125);

    img {
        border: 2px solid variables.$tertiary-accent-color;
        margin: 8px;
    }
}