// Variables para colores específicos
$color-orchid-pink: #e8b2c2;
$color-indian-red: #d6626e;
$color-rosewood: #f4d3c8;
$color-jasmine: #ffdd82;
$color-peach: #ffe9b1;

// Variables para tipos de color
$primary-color: $color-orchid-pink;
$primary-accent-color: $color-indian-red;
$secondary-color: $color-rosewood;
$tertiary-color: #E8B2C2;


